server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: campus-flea-market

  datasource:
    url: jdbc:mysql://localhost:3306/campus_flea_market?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 5000ms

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

logging:
  level:
    "[com.campus.market]": DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs

alipay:
  app-id: 9021000158684861
  private-key: MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDEkj4XbOWAvNyKAMy/v9+KNtyCk37wr7dHlnSDd9NH2wayZEsAxQPejzdL6/GySK5TtmADSmVsSecq4wESHNTQYM+XX3UwQ06k89hWRiAluNo2eVHytsgR9JvqYDeA8jT2zvlHAjHoXIJSVHVp2WUaS1uQ1ngqtjupAd1QummW16KEqlSmiCjl07aAGI8edZ4DJ9bT3sW40rMkbgJHUKkR0m7yjF7i+F2jvK2+cxvr8ig/B0W4zclFkXjjdRJ6r5WsZR1qXM3nqMPgmaj2hAU0nWiM8tlTwBgKT4nkk1ngqDxfXltgji++tuvXwNPGi82e/MIOX1uUabVJPZfKfgubAgMBAAECggEBAMFSqqpTOOuB0swOuU+kHu9JwVjSQrfnuLM5L2HUyQAUUuPDa1hYatPJujJ62/vhK0G9TXQvCMyVajptgzITFOHTNJbFFPXgXEoyX4OJ+DfhMwr8CjJQvTebgHPjKPMyQhCxwcuqRvcldC4QTmFJovtXPbiWlRw8mTRAVy78BriHo7ZqWADnjOCTp8s/iNVI8XfS++u6iFPfHkrnAO2KA5c2wdTv4hq26bKUW+MNA4qTlKgx6Oh7z1UE+yOLx1TN93SMFLKQ040nhFFT9K6v/X0v4VJC1hXsrCAzWaxjKw/4+mUbQa0f7x1rfmIV1wDKiPstAdQM3v7r1AKXu02BwBECgYEA9H8t8IW/6D2TMP9ksYzEjUpqVGds+eRfMxPSwG7sWN38PhROVfcAUzykwZBohHYa1GsGDsXbrp1SfhzTpxd8F5ZYrsgol5IP/lpDPvvTOKP3hKAKHq1G4uKw9ZJDuKCzo1GM+MRJMHhH99ofAE1EWSwCy3n2jrQv+Cs6giWDuvUCgYEAzdHT//5O/l3x7PD9HxvhWg3rETtRtip7rHIqTJdEHPoZ0aghncR6G7rVzkQzWSDMxfy6xh+wf43dKS48ZYfdJucMPpiFxOxGjpE2GWNsyvSrRCNq9Lcg159teu09m6EO+CWmdmmVJ9R8vnnes65F5hmeTCT/NYrP6OScvS3Vsk8CgYBL0nUItjHBb/cJpuovNZxuxLkc28Yr6OqtCGS/UKbzGER1bA6vEh6DsbbWYFZJXecMIPSL+EgcaqV+fqoUk2/kULfH3ELaXm2fT5azHZ1vX0oPUyJQSSRGkE6YmXdu9kc/SrcRHq4j3elTr80VZuDfVoq3V2di8fY+XAmU+tVTUQKBgBGr8XLqZ+fpMwtwCZuxLiEoTsWU/UgRz7qXttAKsNt4Ed1xfSlppD5bRV5Hds0xRsO9FmBKekIJcTLG+IKTLsbXUbLSL7Ifw1McXrPBWKb4aPgZvmYyjwxUcPb8Ba0mH/3oZamHGTppQSitmBR/YxsFmhTZnFwBhiZt8pM/qzh7AoGBAMRN0PSvmS9cFatZ71VoKacrDMI7GyYTCK8uXzdYtIeTaqmY+1cXe0IfyfL2aUs9RAkiN5+1RNX73cYP+XNgFm30/J4AD1+TVRUrxnKD/i7JKT4t3Afr2J3mrWH/fCdnGlvqX8coax4tXc3tfNJwE5yoHgHJC8Qr5veJBVu5xFzq
  public-key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhzO82eNCgGvCdn/kCzZ5eSY08sX16wbZeBYD1xcTYi2tE2Qzo3ChtfXe94UGsi7L4zrgBTvamoqzoM9c0LDN+bsosjLfd6r3RE+VUrC/TyymUN4DXIk1Mnz70wRjqRSE8a6En9xeb3qTeFmy/r7McTQh0khSaeJtUOWL5rKCoPa03UI04MxslXC0TSexe1rcXN+RIYcVcogN9762Zwmweej+2WJnWIHwjj1WtQXXDjeeqY9a+XRCF8306hVD1QLbUnRl5T+Gqj5x6juvUZsE9mgZ5mRu2W05Z6KEs0ArV9ok0p9ukxtvPAUdfJ5f0h+v33fg1vrb3+hqMtimxHYdpwIDAQAB
  notify-url: http://a5e62f2d.natappfree.cc/api/order/alipay/notify
  return-url: http://localhost:5173/payment/result

# 阿里云oss
aliyun:
  oss:
    endpoint: oss-cn-shenzhen.aliyuncs.com
    accessKeyId: ${ALIYUN_OSS_ACCESS_KEY_ID}
    accessKeySecret: ${ALIYUN_OSS_ACCESS_KEY_SECRET}
    bucketName: chino-market
